
 body {
      margin: 0;
      font-family: sans-serif;
    background: url('https://images.pexels.com/photos/31622922/pexels-photo-31622922.jpeg') no-repeat center center fixed;
          background-size: cover;
          place-items: center;
    }
    .dashboard {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      width: 90%;
      max-width: 1200px;
      padding: 20px;
    }
    .glass {
      padding: 20px;
      border-radius: 20px;
      backdrop-filter: url(#refractionFilter) contrast(1.05) brightness(1.1) ;
      border: 1px solid rgba(255,255,255,0.3);
      color: #fff;
      box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    }
    .glass h2 {
      margin-top: 0;
      font-size: 1.2rem;
    }